.h1 {
  bold, 20px, Black;
  align: center;
  font-family: times new roman;
}
  
.Click Here To Change Your Life {
      text-decoration: none;
      background-color: lightgreen;
      padding: 5px 15px 5px 15px;
}
.submit-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.intro {
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    padding: 10px 20px;
}
